.navbar {
  width: 100%;
  overflow: auto;
}

.navbar-expand {
  flex-wrap:nowrap;
  justify-content: flex-start;
}

.navbar-colour {
  background-color: rgb(100, 65, 53);
  
}

.navbar-item {
  float: left;
  text-align: center;
  width: 20%;
  
  font-family: 'Times New Roman', Times, serif;
  font-size: 2vw;
  padding: 0.2vw;
}

.navbar-border {
  border-right: 0.2vw solid rgb(255,255,255) ;

}


.navbar-image {
  padding: 0.2vw;
  width: 150px;
  height: 100px;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}