<<<<<<< Updated upstream
=======

* {
  box-sizing: border-box;
}

[class*="col-"] {
  float: left;
  padding: 15px;
  border: 1px solid rgba(255, 0, 0, 0);
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


>>>>>>> Stashed changes
body {
    background-color: rgb(234, 223, 218);
  }
  h1 {
    color: rgb(255, 255, 255);
  }
  h2 {
    color: rgb(44, 18, 2);
<<<<<<< Updated upstream
    font-size: 50px;
=======
    font-size: 35px;
>>>>>>> Stashed changes
    font-family:Times ;
    font-weight: 400;
    font-stretch:extra-expanded;
    text-align:center;
    

  }
  p {
    color: rgb(0, 0, 0);
<<<<<<< Updated upstream
    font-size: 20px;
=======
    font-size: 23px;
>>>>>>> Stashed changes
    font-family: sans-serif;
    text-align: center;
    font-weight: 400;
    
  }

<<<<<<< Updated upstream
  img {
    float: right;
    height: 500px;
    width: 750px;
=======

  .header-img {
    height: 50%;
    width: 100%;
  }

  .header-text {
    position: absolute;
    top: 30%;
    width: 50%;
    margin-left: 25%;
    text-align: center;
    font-size: 6vw;
    font-family:'Times New Roman', Times, serif;
    color: white;
    background-color: rgba(41, 19, 9, 0.568);
    outline: auto;
    outline-width: 20px;
    outline-color: rgba(43, 17, 0, 0.829);
  }

  .standard-img {
    width: 95%;
    height: 75%;

>>>>>>> Stashed changes
  }

  .container {
    position: relative;
    text-align: center;
    color: white;
  }

  .centered {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 150%
    );
    font-size: 80px ;
    font-family:'Times New Roman';
    background-color: rgba(41, 19, 9, 0.568);
    outline: auto;
    outline-width: 20px;
    outline-color: rgba(43, 17, 0, 0.829);
  }

  ul{
    list-style-type: none;
    padding: 0.5%;
    margin: 0%;
    overflow: hidden;
    background-color: rgb(100, 65, 53);
    position:relative;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
    padding: 18px 20px;
  }

  li a:hover {
    background-color: rgba(41, 19, 9, 0.568);
  }

